/* You can add global styles to this file, and also import other style files 

color pallette:
Background: #383838
Elements: #066163
Popups: #CDBE78
Text: #F2F2F2
*/

html{
    background-color: #383838;
}
